*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #A084CA, #F2D388);
}
.container{
  
     background-color: #fff;
     padding: 30px 30px;
     border-radius: 10px;
}
hr{
    border-bottom: none;
}
.title{
    font-size: 50px;
    padding-bottom: 20px;
}

 .input{
    height: 35px;
    margin: 10px ;
    padding-left: 10px;
  }   
 label{
    width: 100px;
     text-align: left;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
 }
 .submit{
    width: 100%;
    font-size: 20px;
   margin-top: 20px;
 }